{% extends "layout.html" %}

{% block body %}
<div class="container mt-5" >
    <h1 class="text-center">Education</h1>

    <div>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Examination</th>
                <th scope="col">Board</th>
                <th scope="col">Year</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>JSC</td>
                <td>Dhaka</td>
                <td>2014</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>SSC</td>
                <td>Dhaka</td>
                <td>2017</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>HSC</td>
                <td>Dhaka</td>
                <td>2019</td>
              </tr>
              <tr>
                <th scope="row">4</th>
                <td>BSc in CSE</td>
                <td>Dhaka</td>
                <td>Studying</td>
              </tr>
            </tbody>
          </table>
    </div>

</div>
<div class="container mt-5" >
    <h1 class="text-center">Future Plan</h1>

    <div>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Study Abroat</td>
                <td>Travel</td>
                <td>Donation</td>
              </tr>
              <tr>
                <th scope="row">1</th>
                <td>Build Free Education</td>
                <td>Free shelter</td>
                <td>Old Hoeme</td>
              </tr>
              <tr>
                <th scope="row">1</th>
                <td>Perform Hajj with Family</td>
                <td>Help People</td>
                <td>Build a Free Service Firm</td>
              </tr>
            </tbody>
          </table>
    </div>

</div>

{% endblock %}