{% extends "layout.html" %}

{% block body %}
<div class="container mt-5" >
    <h1 class="text-center">Contract</h1>

    <div>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Social Media</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td><a href="https://www.linkedin.com/in/mofazzal.p">LinkedIn</a></td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td colspan="2"><a href="https://www.facebook.com/mofazzal.p">Facebook</a></td>
              </tr>
            </tbody>
          </table>
    </div>

  </div>
{% endblock %}